@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aurelia Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body aurelia-app="main" data-url-prefix="@(Configuration.GetValue<string>("ApplicationUrlPrefix"))">
    <script src="~/scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>
</body>
</html>
