@page
@model Auth.Pages.Device.CallbackModel
@{
    ViewData["Title"] = "Device authorization success";
}

<div class="page-header">
    <h2>
        Success
        <small>You have successfully authorized the device</small>
    </h2>
    <p>
        You may now close this window.
    </p>
</div>

