@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h2>Launch Auth samples</h2>
    <ul>
        <li><a href="https://localhost:44396/" target="_blank">Auth</a></li>
        <li><a href="https://localhost:44344/" target="_blank">Auth.Admin</a></li>
        <li><a href="https://localhost:44373/weatherforecast" target="_blank">Weather API</a></li>
        <li><a href="https://localhost:44303/weathersummary" target="_blank">Weather Summary API</a></li>
        <li><a href="https://localhost:44336/" target="_blank">Aurelia client</a></li>
        <li><a href="https://localhost:44316/" target="_blank">MVC Client</a></li>
    </ul>
</div>
